.features__list {
  list-style: none;
}

.features__description--main {
  color: @white;
  background-color: @blue;
}

.features__description--alt {
  background-color: @lightgray;
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features__title--alt {
  color: @black;
}

.features__image {
  background-color: @blue;
}
