.main-nav__wrapper {
  background-color: @blue;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  color: @white;
}
